.addCustomerDiv{
    padding: 1em;
    margin: 1em;
    border-bottom: 1px solid grey;
}

.addCustomerDiv > span{
    padding: 1em;
}

.addCustomerDiv > table > tr > td {
    padding: 1em;
    text-align: center;
}

.validation{
    color: red;
}

.existingCustomersDiv{
    padding: 1em;
    margin: 1em;
}