<div class="addCustomerDiv">
    <h3>Add Customer</h3>
    <table>
        <tr>
            <td>First Name: <input [(ngModel)]="customer.firstName" /></td>
            <td>Last Name: <input [(ngModel)]="customer.lastName" /></td>
            <td>Email: <input [(ngModel)]="customer.emailAddress" /></td>
            <td><button (click)="addCustomer()">Add</button></td>
        </tr>
        <tr>
            <td class="validation"><span *ngIf="validation.firstName">First Name is Required</span></td>
            <td class="validation"><span *ngIf="validation.lastName">Last Name is Required</span></td>
            <td class="validation"><span *ngIf="validation.emailAddress">Email Address is Required</span></td>
            <td></td>
        </tr>
    </table>

</div>
<div class="existingCustomersDiv">
    <h3>Existing Customers</h3>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email Address</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers">
                <td>
                    {{ customer.id }}
                </td>
                <td>
                    <span *ngIf="!isEditing(customer)">{{ customer.firstName }}</span>
                    <span *ngIf="isEditing(customer)"><input [(ngModel)]="customer.firstName"></span>
                </td>
                <td>
                    <span *ngIf="!isEditing(customer)">{{ customer.lastName }}</span>
                    <span *ngIf="isEditing(customer)"><input [(ngModel)]="customer.lastName"></span>
                </td>
                <td>
                    <span *ngIf="!isEditing(customer)">{{ customer.emailAddress }}</span>
                    <span *ngIf="isEditing(customer)"><input [(ngModel)]="customer.emailAddress"></span>
                </td>
                <td>
                    <span *ngIf="!isEditing(customer)"><button (click)="toggleEdit(customer)">Edit</button></span>
                    <span *ngIf="isEditing(customer)"><button (click)="cancel(customer)">Cancel</button></span>
                    <span *ngIf="isEditing(customer)"><button (click)="save(customer)">Save</button></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>