<div>
    <h1>About this demo...</h1>
</div>

<div class="listClass">
    <ul>
        <li>Created with the dotnet cli, angular template.</li>
        <li>Editing ONLY in Visual Studio Code, with love.</li>
        <li>Run using the debugger built into VSCode and coffee.</li>
    </ul>
</div>

<div class="textClass">
    Than you for the opportunity. I can be reached at (757) 560-6062 and at
    <a href="mailto:stu.schwartz@gmail.com">stu.schwartz@gmail.com</a>
    and I look forward to hearing from you!
</div>